// Define variables for your color scheme

// For example:
$red: #FD1015;
$white: #FFFFFF;
$blue: #207EFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #39f671;
$light-gray: #F4F6F8;
$gray: #2A3E49;
$black: #071E2A;

$color-primary: #0E0000;
$color-secondary:  #167FFB;
