.dashboard-card {
	transition-duration: 0.2s;
	transition-property: transform;
}

.dashboard-card:hover {
	transform: scale(1.02);
}

.dashboard-avatar {
	position: absolute;
	left: -60px;
	top: -130px;
	border: 2px solid white;
	box-shadow: 0 0 10px white;
}

.overview-container {
	position: absolute;
	top: -200px;
	right: 60px;
}