
.carousel-inner img {

	height:350px;
	object-fit: cover;

}

.col {
}

#start {
	display: none;
}
#end {
	display: none;
}

.booking_start_date {
	opacity: 1;
	transition: opacity 0.5s linear;
	&.hide {
		display: none;
	}

	&.transition {
		opacity: 0;

	}
}

#to_calendar_start {
	display: none;
	&.active {
		display: block;
	}
}

#to_calendar_end {
	display: none;
	&.active {
		display: block;
	}
}

.calendar-btn {
	cursor: pointer;
}

.booking_end_date {
	opacity: 0;
	transition: opacity 0.5s linear;
	&.active {
		display: block;
	}
	&.transition {
		opacity: 1;

	}
	display: none;
}

.perks {
	display: grid;
	grid-template-rows: repeat(auto-fill);
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.modal-perks {
	display: grid;
	grid-template-rows: repeat(auto-fill);
	grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
	grid-gap: 10px;
}

.perk-svg {
	width: 30px;
	height: 30px;

	svg {
		max-width: 100%;
		max-height: 100%;
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.venue_venue_spec_spaces {
	margin-right: 10px;
}
.venue_venue_spec_bathrooms {
	margin-right: 10px;
}
.venue_venue_spec_total_area {
	margin-left: 10px;
}
.venue_venue_spec_garage_spaces {
	margin-left: 10px;
}

.perk-grid {
	display: grid;
	grid-template-rows: repeat(auto-fill);
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

#filter-container {
	position: relative;
	top: 0px;
	width: 100%;
	left: 0;
}

#venue-list {
	padding: 20px;
	overflow-y: scroll;
	height: calc(100vh - 167.19px);
}

.venue-carousel-image {
	height: 230px !important;
	width: 100% !important;
}

.only-rounded-left {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top-left-radius: 0.375rem !important;
	border-bottom-left-radius: 0.375rem !important;
}

.venue-booking {
	&.pending, &.deleted, &.is_passed {
		display: none;
	}

	&.active {
		display: table-row;
	}

}

#table-header {
	&.hide {
		display: none;
	}
}

#table-message {
	display: none;
	
}

#times-container {
	display: none;
}

.show {
	display: block !important;
}

.center-text {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.6666666667rem;
}