
.carousel-inner img {

height:480px;
object-fit: cover;

}

.col {
}

#start {
  display: none;
}

.perks {
	display: grid;
	grid-template-rows: repeat(auto-fill);
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.perk-grid {
	display: grid;
	grid-template-rows: repeat(auto-fill);
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

