<a href="/venues/4" class="row shadow-sm bg-white rounded venue-card">
	<div class="col-12 col-lg-4">

		<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active" data-interval="10000">
					<img src=http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--a39ec53515e23ab33dc2f6b466ab8eb8cb7be447/WhatsApp%20Image%202020-05-29%20at%2018.27.38.jpeg alt="" class="d-block w-100" />
				</div>


				<div class="carousel-item" data-interval="2000">
					<img src="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--33a822590027b44575af5ed6b5fb57cb8d10e33d/WhatsApp%20Image%202020-05-29%20at%2017.21.37.jpeg" class="d-block w-100" />
				</div>
				<div class="carousel-item" data-interval="2000">
					<img src="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--67c40789665ab23d20775b190ff3b60f9da1abda/WhatsApp%20Image%202020-05-29%20at%2014.41.08.jpeg" class="d-block w-100" />
				</div>
				<div class="carousel-item" data-interval="2000">
					<img src="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--804f8992cbe0d6687d650d05b074a33deecc9365/WhatsApp%20Image%202020-05-29%20at%2018.27.15.jpeg" class="d-block w-100" />
				</div>
				<div class="carousel-item" data-interval="2000">
					<img src="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--a39ec53515e23ab33dc2f6b466ab8eb8cb7be447/WhatsApp%20Image%202020-05-29%20at%2018.27.38.jpeg" class="d-block w-100" />
				</div>

			</div>
			<a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

	</div>


	<div class="col-12 col-lg-8 venue-card-content">
		<div class="row venue-card-body p-3" style="height: 180px; overflow: hidden">
			<h6 class="card-title mb-1">Test with Many Pictures</h6>
			<h7 class="card-text" style="color: black;">Do you show here! Dancing, Music, anything you want!</h7>
		</div>
		<div class="row venue-card-footer rounded" style="height: 100px; overflow: hidden">
			<small class="col-9 text-muted"> 
				Theatre Avenida Corrientes 50, Autonomous City of Buenos Aires, Ciudad Autónoma de Buenos Aires, Argentina
				<i class="fas fa-map-marker-alt"></i>
			</small>
			<div class="col-3 d-flex justify-content-center align-items-center">
				<div class="venue-card-rating">
					<i class="fas fa-star mr-1"></i>
					<p style="color: black;"> (0)</p>
				</div>
			</div>
		</div>
	</div>
</a>
<hr class="divider divider-fade" />