.card-dashboard {
  position: relative;
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 2px;
  transition: 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    border-radius: 2px 0px 0px 2px;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-dashboard-infos {
    padding: 8px;
  }

  .buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .btn {
    color: $blue;
    transition: 0.2s ease;

    &:hover {
      color: $gray-300
    }

  }

}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-img-left {
  border-top-left-radius: calc(0.75rem - 1px);
  border-bottom-left-radius: calc(0.75rem - 1px);
  width: 120px;
}

.card {
  &.overview-card {
    transition-duration: 0.2s;
    transition-property: transform;
    height: 180px;
    width: 180px;
    margin: 0;
  }

  &.overview-card:hover {
    transform: scale(1.05);
  }

  &.venue-card {
    transition-duration: 0.2s;
    transition-property: transform;
  }

  &.venue-card:hover {
    transform: scale(1.05);
  }

  
}

.venue-card-image {
  max-width: 100%;
  max-height: 100%;
}

.venue-card-image-container {
  width: 320px;
  height: 200px;
  background-color: #edecff;
}