.image-container-x {
    text-align: center;
    overflow: hidden;
}

.image-centered-x {
	position: relative;
	left: 100%;
	margin-left: -200%;
}


.image-container-y {
    position: relative;
    width: 250px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}

.image-centered-y {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
}